<h1 matDialogTitle>Cadastrar Produto</h1>

<mat-dialog-content>
  <div [formGroup]="form">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="legacy">
          <mat-label>valor</mat-label>

          <input matInput formControlName="valor" type="number" required />
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Saldo</mat-label>
          <input matInput formControlName="saldo" type="number" required />
        </mat-form-field>
        <mat-form-field appearance="legacy"
          ><mat-label>Data Transação</mat-label>
          <input
            matInput
            formControlName="createdAt"
            type="datetime-local"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="Entrada">Entrada</mat-option>
            <mat-option value="Saida">Saida</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-dialog-actions>
        <button mat-button matDialogClose (click)="close()">
          Close dialog
        </button>
        <button mat-button (click)="save()">Salvar!!</button>
      </mat-dialog-actions>
    </mat-card>
  </div>
</mat-dialog-content>
